body {
    margin: 0;
}

.container{
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:;
    align-items:  flex-start;
    padding: 30px;
    
}
h1{
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 4px black;
    
}
.green{
    color: #5DEF92;
    margin-top: 0;
}

h4{
    color: #D5D4D8;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 200;
}

button{
    cursor: pointer;
    background-color: #10B981;
    padding: 9px 16px;;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 50px;
}


.line{
    height: 1.5px;
    background-color: #2F3E53;
    width: 75%;
    margin-top: 20px;
}

.boxes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box{
    height: 32px;
    width: 180px;
    background-color: #273549;
    margin: 20px 20px 40px 0;
    border-radius: 4px;
    color: #55F991;
    text-align: center;
    padding-top: 15px;  
}
